@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: light) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  .text-gradient {
    @apply text-transparent bg-gradient-to-r from-blue-900 bg-clip-text via-red-900 to-black text-5xl;
  }
  .text-lightgradient {
    @apply text-transparent bg-gradient-to-r from-blue-200 bg-clip-text via-red-300 to-yellow-500;
  }
  .bg-gradient-dark {
    @apply bg-[radial-gradient(ellipse_at_top,_var(--tw-gradient-stops))] from-darkgradient
  }
}


.animate-scrolling {
  display: inline-block;
  animation: scrolling 10s linear infinite;
}